.footer {
    background: linear-gradient(
            37deg,
            rgba(255, 102, 204, 0.3),
            rgba(153, 102, 255, 0.3)
    );
    color: var(--foreground);
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer a {
    color: var(--foreground);
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer a:hover {
    text-decoration: underline;
}
