.footer {
    background: linear-gradient(37deg, rgba(219, 234, 254, 0.7), rgba(224, 231, 255, 0.7));
    color: #64748b;
    text-align: center;
    padding: 0.666rem;
    width: 100%;
}

.dark .footer {
    background: linear-gradient(37deg, rgba(255, 102, 204, 0.2), rgba(153, 102, 255, 0.19));
    color: rgba(255, 255, 255, 0.42);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer a {
    color: var(--foreground);
    text-decoration: none;
    margin: 0 0.5rem;
}

.footer a:hover {
    text-decoration: underline;
}
