@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* thought this would halp */
#fn-logo .logo {
  width: 100px;
  height: auto;
  max-width: 100%;
}

.pricing-card {
  background-color: #1f1f1f;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#main-content {
  flex-grow: 1;
}


/* Light mode I guess */
:root {
  --background: rgba(13, 16, 45, 0.6);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(13, 16, 45, 0.6);
    --foreground: #ffffff;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.pricing-card p {
  font-size: 1.25rem;
}

.pricing-card .price {
  font-size: 2.5rem;
  font-weight: 600;
}

.billing-toggle {
  font-size: 1.125rem;
  font-weight: 500;
}

ol, li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

li {
  padding: 0.25rem 0;
}
