@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* thought this would halp */
#fn-logo .logo {
  width: 100px;
  height: auto;
  max-width: 100%;
}

.pricing-card {
  background-color: rgba(137, 137, 255, 0.1);
  color: var(--foreground);
  border-radius: 0.75rem;
  padding: 2rem;
  margin: 1rem;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 220, 0.7);
}

.pricing-card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 220, 0.7);
  background-color: rgba(37, 223, 223, 0.2);
  transform: translateY(-5px);
}

main button {
  font-size: 1.3rem;
  padding: 0.75rem 2rem;
  background-color: #2c75d2;
  color: #fff;
}

main button:hover {
  background-color: pink;
  border: 6px solid white;
}

#main-content {
  flex-grow: 1;
}

/* Light mode I guess */
:root {
  --background: rgba(13, 16, 45, 0.6);
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(13, 16, 45, 0.6);
    --foreground: #ffffff;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

button {
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
}

body {
  background: linear-gradient(135deg, #0d102d, #14152a);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.pricing-card p {
  font-size: 1.25rem;
}

.pricing-card .price {
  font-size: 2.5rem;
  font-weight: 600;
}

.billing-toggle {
  font-size: 1.125rem;
  font-weight: 500;
}

ol, li {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

li {
  padding: 0.25rem 0;
}

nav {
  border-bottom: 1px solid rgba(6, 6, 6, 0.6);
}

.invert-me {
  filter: invert(1);
}
